<%- layout('layouts/main') %>


<%- include('layouts/header') %>
<div class="card">
    <div class="card-body">
      <h5 class="card-title">Crear producto</h5>
      <form action="/create" method="POST" enctype="multipart/form-data"  class="needs-validation" novalidate>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del producto</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" required>
          <div class="invalid-feedback">
            Por favor ingrese el nombre del producto.
          </div>
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción del producto</label>
          <textarea class="form-control" id="descripcion" name="descripcion" rows="3" placeholder="Ingrese la descripción del producto" required></textarea>
          <div class="invalid-feedback">
            Por favor ingrese la descripción del producto.
          </div>
        </div>
        <div class="mb-3">
          <label for="precio" class="form-label">Precio del producto</label>
          <div class="input-group">
            <span class="input-group-text">$</span>
            <input type="number" class="form-control" id="precio" name="precio" placeholder="Ingrese el precio del producto" required>
            <div class="invalid-feedback">
              Por favor ingrese el precio del producto.
            </div>
          </div>
        </div>
        <div class="mb-3">
          <label for="imagen" class="form-label">Imagen del producto</label>
          <input type="file" class="form-control" id="imagen" name="imagen"  required>
          <div class="invalid-feedback">
            Por favor seleccione una imagen del producto.
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Crear producto</button>
      </form>
    </div>
  </div>
