<%- layout('layouts/main') %>


<%- include('layouts/header') %>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead>
                        <tr class="table-dark">
                            <th> Imagen </th>
                            <th> Nombre </th>
                            <th> Descripción </th>
                            <th> Acciones </th>
                        </tr>
                    </thead>
                    <thbody>
                        <tr>
                            <td><img></td>
                            <td>  </td>
                            <td>  </td>
                            <td>
                                <a href="" class="text-success" ><i class="fa fa-edit fa-lg mx-1"></i></a>
                           
                                <a href="" class="text-danger" ><i class="fa fa-trash fa-lg mx-1"></i></a>
                            </td>
                        </tr>
                    </thbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>