<header>

    <link rel="stylesheet" href="/stylesheets/header.css">


    <nav class="navbar">
      <div class="navbar-logo">
        <img src="logo.png" alt="Logo de la tienda de ropa">
      </div>
      <ul class="navbar-menu">
        <li><a href="/">Inicio</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/ofertas">Ofertas</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
      <div class="navbar-cart">
        <a href="/carrito" class="cart-link">
          <i class="fa fa-shopping-cart"></i>
          <span class="cart-count">0</span>
        </a>
      </div>
    </nav>
  </header>
  
